body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    font-family: Microsoft YaHei !important;
}

.demo{ 
   margin:0;padding:0;
   text-align:justify;
   text-align-last:justify;/*解决IE的支持*/
   line-height:0;/*解决标准浏览器容器底部多余的空白*/
}
@media all and (-webkit-min-device-pixel-ratio:0){
  .demo{
   font-size:0;/*webkit清除元素中使用[换行符]或[空格符]后，最后元素多余的空白*/
}
}
.demo:after{/*text-align-last:justify只有IE支持，标准浏览器需要使用 .demo:after 伪类模拟类似效果*/
   display:inline-block;
   overflow:hidden;
   width:100%;
   height:0;
   content:'';
   vertical-align:top;/*opera浏览器解决底部多余的空白*/
}
.demo div{
   width:18%;
   display:inline-block;
   text-align:center;/*取消上层元素的影响*/
   text-align-last:center;
   font-size:12px;
}

.menu_pannel{
    height:115px;
    position: relative ;
}

#menu1 .menu_pannel_bg{
    background-color:#85a5ff; 
}

#menu2 .menu_pannel_bg{
    background-color: #69c0ff;
}


.menu_pannel  a{
    position: absolute;
    width:90px; 
    height:90px;
    top:0; 
    bottom:0;
    left: 0; 
    right: 0;
    margin: auto;
}

.menu_pannel  a p{
    margin-top:25px;
    font-size:14px;
    color:#FFF;
}
.menu_pannel:hover{
    font-size:15px;
}




.vpanel{
    border:1px solid #d9dee9;
    /* margin:10px 0px 0px 20px; */

    width:100%;
    height:100%;

}
.vpanel_heading{
    border-bottom:1px solid #d9dee9;
    width:100%;
    height:28px;
    background-color:#f3f4f6;
    color:#2d95ff;
    line-height:28px;
}
.vpanel_heading span{
    font-size:16px;
    font-weight:normal;
}

.vpanel_heading  i{
 margin-left: 10px;
}
/* .vpanel_bodyww{
    padding : 10 10 10 10px !important 

    } */


    #left,#right{
        float:left;
        width:50%;
        height: 100%;
        margin:0 0 0 -5px;
    }
    #innerLeft,#innerRight{
        margin:0 0 0 5px;
        height: 100%;
    }
    #middle{
        float:left;
        width:10px;
        height: 100%;
    }



    .main{
        /* text-align: center; */
        width: 98%;
        height: 200px;
        margin: 0 auto; 
    } 
    .main_child{
        float:left;
        width: 40%; 
        height: 100%;
    }

    .main_child_left{
        float:left;
        width: 59%; 
        height: 100%;
    }

    .mini-grid-cell-inner,  .mini-grid-headerCell-inner{/* 表格字体 */
        font-size:14px  !important;
    }

    .mini-grid-cell-inner{/* 表格行高 */
     line-height:30px !important;
     font-family: Microsoft YaHei !important;
 }

 body .mini-grid-row-hover{/* 表格鼠标移入颜色 */
    background:#89c3d6 !important; 
}

.nui-datagrid .mini-panel-border{/* 表格不圆角 */
    border-radius:0px;
}


#table1 tr {
    height:48px;
    vertical-align:bottom;
}

#table1,#tableInfo{
    font-size:14px;
} 
.tabletext{
   font-size:14px !important;
} 

.tabletext i{
   color:#2d95ff;
} 

.tablenum{
font-size:25px;
    color:#61acc9;

  /*   font-weight:bold;
  font-size:20px !important; */
}

.tablenum span{
    font-size:25px;
    margin-left:40px;
    line-height:normal;
}

.tablenumb p{
    font-size:14px !important;
    color:black;
} 

.tablenumb p span{
    font-size:30px;
    margin-left:-20px;
    line-height:normal;
    color:#61acc9;
}

#newul{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}
#newul li{
 list-style:none;
}

#newul li:hover{ 
    text-decoration:underline;
    font-size:16px;
} 

#newul li a{
    text-decoration:none;
    font-size:14px;
    height:25px;
    color:#4d7496;
}
.fa-lg-custom{
    font-size: 16px !important;
    line-height: 28px !important;
    /*   vertical-align: text-bottom; */
}