.kefu{display:block;position:relative;cursor:pointer}
.kefu-title{font-size: 14px;margin-top: 3px;display:block;text-align:center;color:#fff;text-transform:uppercase;transition:.3s background-color}

.kefu-title:hover:before{border-top-color:#8db842}
.kefu:hover>.kefu-title:before{border-top-width:0;transition:.2s border-top-width ease-in,.3s border-top-color}
.kefu-dropdown{margin-top:18px;margin-left:-40px; min-width:130%;padding:5px 0;position:absolute;background:#fff;z-index:1003;transition:.5s padding,.5s background}
.kefu:not(:hover)>.kefu-dropdown{padding:0px 0;background:#fff;z-index:1002}
.kefu:not(:hover)>.kefu-dropdown:after{border-top-color:#fff;}.kefu:not(:hover)>
.kefu-title:after{border-bottom-color:#fff}
.kefu-dropdown>*{overflow:hidden;height:30px;padding:5px 10px;background:0 0;white-space:nowrap;transition:.5s height cubic-bezier(.73,.32,.34,1.5),.5s padding cubic-bezier(.73,.32,.34,1.5),.5s margin cubic-bezier(.73,.32,.34,1.5),.5s .2s color,.2s background-color}
.kefu-dropdown>*:hover{background:rgba(0,0,0,.1);z-index:1002}
.kefu-dropdown>.photo{height:100px;}
.kefu-dropdown>.toTop{margin-top: 17px}
.kefu:not(:hover)>.kefu-dropdown>*{visibility:hidden;height:0;padding-top:0;padding-bottom:0;margin:0;color:transparent;transition:.5s .1s height,.5s .1s padding,.5s .1s margin,.3s color,.6s visibility;z-index:1002}
.hList>*{float:left}.hList>*+*{margin-left:0}
.kefu-dropdown li{
	color: black;
}
.kefu-dropdown span{
	height:90px;
	color: black;
}