.kefu{display:block;position:relative;cursor:pointer}
.kefu-title{font-size: 14px;    margin-top: 3px;display:block;text-align:center;color:#fff;text-transform:uppercase;transition:.3s background-color}
.kefu-title:before{content:"";display:block;height:0;border-top:18px solid #deedf7;border-left:75px solid transparent;border-right:75px solid transparent;border-bottom:0 solid #368bf4;position:absolute;top:100%;left:0;z-index:101;transition:.2s .2s border-top ease-out,.3s border-top-color}
.kefu-title:hover:before{border-top-color:#8db842}
.kefu:hover>.kefu-title:before{border-top-width:0;transition:.2s border-top-width ease-in,.3s border-top-color}
.kefu-title:after{content:"";margin-left:-30px;display:block;height:0;border-left:75px solid transparent;border-right:75px solid transparent;border-bottom:0 solid #ebebeb;position:absolute;bottom:0;left:0;z-index:101;transition:.2s border-bottom ease-in}
.kefu:hover>.kefu-title:after{border-bottom-width:5px;transition:.2s .2s border-bottom-width ease-out}
.kefu-title_2nd{background:#4e96b3}
.kefu-title_2nd:hover{background:#3e86a3}
.kefu-title_2nd:before{border-top-color:#4e96b3}
.kefu-title_2nd:hover:before{border-top-color:#3e86a3}
.kefu-title_3rd{background:#c97676}
.kefu-title_3rd:hover{background:#b96666}
.kefu-title_3rd:before{border-top-color:#c97676}
.kefu-title_3rd:hover:before{border-top-color:#b96666}
.kefu-title_4th{background:#dbab58}
.kefu-title_4th:hover{background:#cb9b48}
.kefu-title_4th:before{border-top-color:#dbab58}
.kefu-title_4th:hover:before{border-top-color:#cb9b48}
.kefu-dropdown{margin-top:16px;margin-left:-40px; min-width:100%;padding:15px 0;position:absolute;background:#deedf7;z-index:100;transition:.5s padding,.5s background}
.kefu-dropdown:after{content:"";display:block;height:0;border-top:5px solid #ebebeb;border-left:72px solid transparent;border-right:138px solid transparent;position:absolute;top:100%;left:0;z-index:101;transition:.5s border-top}
.kefu:not(:hover)>.kefu-dropdown{padding:4px 0;background:#deedf7;z-index:99}
.kefu:not(:hover)>.kefu-dropdown:after{border-top-color:#deedf7}.kefu:not(:hover)>
.kefu-title:after{border-bottom-color:#deedf7}
.kefu-dropdown>*{overflow:hidden;height:30px;padding:5px 10px;background:0 0;white-space:nowrap;transition:.5s height cubic-bezier(.73,.32,.34,1.5),.5s padding cubic-bezier(.73,.32,.34,1.5),.5s margin cubic-bezier(.73,.32,.34,1.5),.5s .2s color,.2s background-color}
.kefu-dropdown>*:hover{background:rgba(0,0,0,.1)}
.kefu:not(:hover)>.kefu-dropdown>*{visibility:hidden;height:0;padding-top:0;padding-bottom:0;margin:0;color:transparent;transition:.5s .1s height,.5s .1s padding,.5s .1s margin,.3s color,.6s visibility;z-index:9999}
.hList>*{float:left}.hList>*+*{margin-left:0}
.kefu-dropdown li{
	color: black;
}
.kefu-dropdown span{
	color: green;
}